aiohttp==3.5.4
algosec==1.3.5
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cssselect==1.1.0
Deprecated==1.2.6
future==0.17.1
futures==3.1.1
html5lib==1.0.1
httpie==1.0.3
idna==2.8
ipaddress==1.0.22
jwt==0.6.1
lxml==4.4.1
mechanize==0.4.3
mod-wsgi==4.6.7
multidict==4.5.2
orionsdk==0.1.0
parsel==1.5.2
persisting-theory==0.2.1
Pillow==6.1.0
psycopg2-binary==2.8.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
Pygments==2.4.2
pyTenable==0.3.26
python-dateutil==2.8.0
python-ldap==3.2.0
python-whois==0.7.1
pytz==2019.2
requests==2.22.0
selenium==3.141.0
semver==2.8.1
six==1.12.0
sqlparse==0.3.0
suds-jurko==0.6
suds-requests==0.4.0
urllib3==1.25.3
w3lib==1.21.0
webencodings==0.5.1
wrapt==1.11.2
XlsxWriter==1.2.0
yarl==1.3.0
openvas-lib==1.1.8
xmltodict==0.12.0
google-api-python-client==1.4.1
feedparser==6.0.2
openvas-lib==1.1.8
veracode-api-signing==19.9.0